<p>Header</p>
<nav>
    <a routerLink="/">Home</a><br>
    <a routerLink="/list">Lista</a><br>
    <a routerLink="/directives">Diretivas</a><br>
    <a routerLink="/parent-data">Paret-data</a><br>
    <a routerLink="/if-render">If-Render</a><br>
    <a routerLink="/evertos">Eventos</a><br>
    <a routerLink="/emitter">Emitter</a><br>
    <a routerLink="/pipe">Piper</a><br>
    <a routerLink="/TAB">Two Away Blinding</a>
</nav>
<h1>Hello World Angular</h1>
<router-outlet></router-outlet>
<p>footer</p>